@import '../../constants/scss/colors';

.home-page {
  align-items: flex-start;
  background: url(../../images/background.png);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 4rem 5rem;
  width: 100vw;

  .header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;

    h1 {
      color: $primary-white;
    }

    .settings {

      i {
        font-size: 2rem;
        color: $primary-white;

        &:last-of-type{
          margin-left: 1rem;
        }
      }
    }
  }

  .links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
