@import './colors';

%btn,
.btn {
  align-items: center;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: 0;
  padding: 10px 20px;
  text-transform: capitalize;
  transition: all .3s ease;

  .im {
    font-size: 1.4rem;
    margin-right: 10px;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.btn-primary {
  @extend %btn;

  background-color: transparent;
  color: $link-color;
  font-size: 1rem;
  font-weight: 500;
  margin: 20px 0;
  padding: 0;

  &:hover {
    opacity: .7;
  }

  &:disabled {
    opacity: .3;
  }
}

.btn-danger {
  @extend %btn;

  background-color: transparent;
  color: $red-color;
  font-size: 1rem;

  &:hover {
    opacity: .7;
  }

  &:disabled {
    opacity: .3;
  }
}

$hover-green: rgba($green-color, .7);
$disabled-green: rgba($green-color, .3);

.btn-success {
  @extend %btn;

  background-color: $green-color;
  color: $primary-white;
  font-size: 1.5rem;

  &:hover {
    background-color: $hover-green;
  }

  &:disabled {
    background-color: $disabled-green;
  }
}

.btn-link {
  @extend %btn;
  background-color: transparent;
  color: $link-color;
  font-size: 1rem;
  text-decoration: underline;

  &:hover {
    opacity: .7;
  }

  &:disabled {
    opacity: .3;
  }
}

.btn-solid {
  @extend %btn;
  background-color: $blue-color;
  color: $primary-white;
  font-size: 1rem;
  text-transform: uppercase;
  width: calc(100% - 20px);

  &:hover {
    opacity: .8;
  }

  &:disabled {
    opacity: .3;
  }
}
