$primary-text-color:    #283593;
$secondary-text-color:  #9FA8DA;
$link-color:            #2979FF;
$blue-color:            #3D5AFE;
$red-color:             #FF1744;
$green-color:           #69F0AE;
$primary-white:         #FFFFFF;
$secondary-white:       #FAFAFA;
$grey-color:            #EEEEEE;
$green-status-color:    #69F0AE;
$orange-status-color:   #FF8F00;
$red-status-color:      #FF1744;
