$primary-text-color:    #283593;
$secondary-text-color:  #9fa8da;
$link-color:            #2979ff;
$blue-color:            #3d5afe;
$red-color:             #ff1744;
$green-color:           #69f0ae;
$primary-white:         #fff;
$secondary-white:       #fafafa;
$grey-color:            #eee;
$green-status-color:    #69f0ae;
$orange-status-color:   #ff8f00;
$red-status-color:      #ff1744;
