@import './_colors.scss';

.input {
  appearance: none;
  background-color: transparent;
  border: none;
  color: $primary-text-color;
  border-bottom: 1px solid $primary-text-color;

  &:empty {
    border-bottom: 1px solid $secondary-text-color;
  }

  &::placeholder {
    color: $secondary-text-color;
  }
}

.input-search {
  width: 460px;
  font-weight: 500;
  font-size: 2rem;
  appearance: none;
  background-color: transparent;
  border: none;
  color: $primary-text-color;
  border-bottom: 1px solid $grey-color;

  &:empty {
    border-bottom: 1px solid $grey-color;
  }

  &::placeholder {
    color: $secondary-text-color;
  }
}
