@import './_colors.scss';

.input-text {
  appearance: none;
  background-color: transparent;
  border: none;
  color: $primary-text-color;
  border-bottom: 1px solid $primary-text-color;

  &:empty {
    border-bottom: 1px solid $secondary-text-color;
  }

  &::placeholder {
    color: $secondary-text-color;
  }
}
