@import './colors';

%sticker {
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.sticker-success {
  @extend %sticker;
  background-color: $green-status-color;
}

.sticker-warning {
  @extend %sticker;
  background-color: $orange-status-color;
}

.sticker-danger {
  @extend %sticker;
  background-color: $red-status-color;
}
