@import '../../constants/scss/colors';

.input-text {
  background-color: none;
  border: none;
  border-bottom: 1px solid $primary-text-color;
  color: $primary-text-color;
  font-size: 1.2rem;
  height: 40px;
  margin: 10px 0;
  outline: 0;
  transition: all 0.3s ease;
  width: 100%;

  &:empty {
    border-bottom: 1px solid $secondary-text-color;
  }

  &:valid, &:focus {
    border-bottom: 1px solid $primary-text-color;
  }

  &::placeholder {
    color: $secondary-text-color;
  }
}
