@import '../../../constants/scss/colors';

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .parent-category {
    color: $primary-text-color;
    padding: .4rem 0;

    .children-categories-container {
      margin-top: 10px;

      .children-category {
        color: $secondary-text-color;
        margin-left: 20px;
      }
    }
  }
}

.category-form {
  align-items: flex-start;
  display: flex;
  flex-direction: row;

  .btn-solid {
    align-self: center;
  }
}
