@import '../../../constants/scss/colors';

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .parent-category {
    color: $primary-text-color;
    margin-bottom: 10px;

    .children-categories-container {
      margin-top: 10px;

      .children-category {
        color: $secondary-text-color;
        margin-left: 20px;
      }
    }
  }
}
