@import '../../../constants/scss/_colors.scss';

div.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div.parent-category {
    color: $primary-text-color;
    margin-bottom: 10px;

    div.children-categories-container {
      margin-top: 10px;

      div.children-category {
        color: $secondary-text-color;
        margin-left: 20px;
      }
    }
  }
}
