@import '../../constants/scss/colors';

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 20px;

    .navigation {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      img {
        height: 50px;
        margin-right: 20px;
        object-fit: contain;
        width: 50px;
      }

      .breadcrumb {
        color: $primary-text-color;
        font-size: 1.6rem;
        font-weight: 500;

        &.inactive {
          color: $secondary-text-color;
          text-decoration: none;
        }
      }

      .arrow {
        color: $secondary-text-color;
        margin: 0 20px;
      }
    }

    .close {
      i {
        color: $secondary-text-color;
        font-size: 2rem;
        transition: all .3s ease;

        &:hover {
          opacity: .7;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
  }

  .footer {
    background-color: $secondary-white;
    text-align: right;
  }
}
