@import '../../constants/scss/colors';
@import '../../constants/scss/sizes';

.sale-informations {
  padding: 0 $horizontal-padding;

  h3 {
    border-bottom: .5px solid $grey-color;
    font-size: .8rem;
    margin: 1rem 0 0;
    padding: .2rem 0;
    text-transform: uppercase;
  }

  .row {
    display: flex;
    flex-direction: row;

    > .item-attribute {
      margin: 1rem 0 2rem;
      width: 100%;
    }
  }

  .sale-variant,
  .sale-variant-header {
    align-items: center;
    border-bottom: .5px solid $grey-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      color: $primary-text-color;
      padding: 2rem 0;
    }

    .product-name {
      flex: .4;
    }

    .variant-barcode {
      flex: .3;
    }

    .quantity {
      flex: .1;
    }

    .unit-price {
      flex: .1;
    }

    .promotion {
      flex: .1;
    }
  }

  .sale-variant-header {
    > div {
      color: $secondary-text-color;
      font-size: .8rem;
      padding: 2rem 0 .5rem;
      text-transform: uppercase;
    }
  }
}
