@import '../../constants/scss/colors';
@import '../../constants/scss/inputs';
@import '../../constants/scss/buttons';

.settings-page {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .side-navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -45px;
    padding: 0 10px;
    width: 12rem;

    button {
      background: none;
      border: 0;
      border-radius: 10px;
      color: $link-color;
      cursor: pointer;
      font-size: 24px;
      height: 62px;
      margin: 5px 0;
      outline: 0;
      padding: 5px 0;
      transition: all .3s ease;
      width: 300px;

      &:hover {
        background-color: $secondary-white;
      }

      &.active {
        background-color: $blue-color;
        color: $primary-white;
      }
    }
  }
}
