@import '../../../constants/scss/colors';

.vat-rates {
  color: $secondary-text-color;
  font-size: .8rem;
  margin-top: 1rem;

  .label {
    font-weight: 600;
  }

  b {
    color: $primary-text-color;
  }
}

.store-settings-form {
  .btn-solid {
    float: right;
    margin-top: 2rem;
  }
}
