@import '../../../constants/scss/colors';

.vat-rates {
  display: flex;
  flex-direction: row;

  .title {
    color: $secondary-text-color;
    font-weight: bold;
  }

  .separator {
    color: $secondary-text-color;
  }

  .vat-rate {
    display: flex;
    flex-direction: row;

    .label {
      color: $secondary-text-color;
    }

    .rate {
      color: $primary-text-color;
    }
  }
}
