@import '../../constants/scss/colors';

.modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &:before {
    background: rgba(0,0,0,0.3);
    bottom: 0;
    content: '';
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .modal-content {
    background: $primary-white;
    border-radius: 4px;
    padding: 20px;
    z-index: 20;
  }

  &.hidden {
    display: none;
  }
}
