@import '../../../constants/scss/colors';

.custom-attribute-form {
  align-items: flex-start;
  display: flex;
  flex-direction: row;

  .btn-solid {
    align-self: center;
  }
}

.custom-attributes {
  display: flex;
  flex-direction: column;

  .custom-attribute-header {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .custom-attribute,
  .custom-attribute-header {
    border-bottom: 1px solid $grey-color;
    color: $primary-text-color;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;

    .name {
      flex: 0.7;
    }

    .type {
      flex: 0.3;
    }
  }
}
