@import '../../constants/scss/colors';

.data-details-shippings {
  color: $primary-text-color;

  .shipping-variants-table {
    .shipping-variants-table-header {
      align-items: center;
      border-bottom: 1px solid $grey-color;
      display: flex;
      flex-direction: row;
      font-size: 1.4rem;
      justify-content: space-between;

      .column-product {
        flex: 2;
      }

      .column-barcode {
        flex: 1;
      }

      .column-quantity {
        flex: .5;
      }

      .column {
        text-align: left;

        &:last-of-type {
          text-align: right;
        }
      }
    }

    .shipping-variants-table-body {
      border-bottom: 1px solid $grey-color;

      .shipping-variants-row {
        color: $primary-text-color;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        font-size: 1.6rem;
        justify-content: space-between;
        opacity: .6;
        padding: 20px 0;
        position: relative;
        transition: all .3s ease;

        .column-product {
          flex: 2;
        }

        .column-barcode {
          flex: 1;
        }

        .column-quantity {
          flex: .5;
        }

        .column {
          text-align: left;

          &:last-of-type {
            text-align: right;
          }
        }

        &:hover {
          opacity: 1;
        }

        &.selected {
          background-color: $secondary-white;
          opacity: 1;
        }
      }
    }
  }
}
