.content {
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  button.submit {
    text-align: right;
  }

  select.select-locale {
    width: 60px;
    margin-top: 40px;
  }
}
