.content {
  flex-direction: column;

  .settings-page {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  button {
    &.submit {
      text-align: right;
    }
  }

  select {
    .select-locale {
      margin-top: 40px;
      width: 60px;
    }
  }
}
