@import '../../constants/scss/colors';
@import '../../constants/scss/sizes';

.product-page {
  .data-details-products {
    .children {
      // sass-lint:disable class-name-format
      .Collapsible__trigger > h1 {
        color: $link-color;
      }

      .variant-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .row {
          align-items: flex-start;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          min-height: 80px;
          width: 100%;
        }
      }
    }
  }

  .variants {
    margin: 0 0-$horizontal-padding;

    h1 {
      color: $secondary-text-color;
      font-size: 1rem;
      font-weight: normal;
    }

    .data-table {
      height: inherit;
    }
  }
}
