@import '../../constants/scss/colors';
@import '../../constants/scss/font-sizes';

.home-link {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  width: 50%;

  .link {
    align-items: center;
    background-color: $primary-white;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 $primary-white;
    display: flex;
    height: 140px;
    overflow: hidden;
    text-decoration: none;
    transition: all .3s ease;
    width: 100%;

    .image {
      margin-left: 100px;
      margin-right: 40px;
      max-height: 80px;
      max-width: 80px;
      min-height: 80px;
      min-width: 80px;
      object-fit: contain;
    }

    h2 {
      color: $blue-color;
      font-size: $title;
      margin: 0;
    }

    h3 {
      color: $secondary-text-color;
      font-size: $subtitle;
      font-weight: normal;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      box-shadow: 0 0 20px 0 $primary-white;
    }
  }
}
