@import '../../constants/scss/colors';
@import '../../constants/scss/sticker';

$horizontal-padding: 5.625rem;

.data-table {
  max-height: calc(100vh - 88px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header-row {
    &::before, &::after {
      content: '';
      min-width: $horizontal-padding;
    }
    align-items: center;
    color: $primary-text-color;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: 500;
    min-height: 3.25rem;
    justify-content: space-between;

    .column {
      border-bottom: 0.5px solid $grey-color;
      height: 3.25rem;
      line-height: 3.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    .column-status {
      width: 4%;
    }
  }

  .search-bar {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 40px 0;

    .search-bar-content {
      align-items: center;
      border-bottom: 1px solid $grey-color;
      display: flex;
      flex-direction: row;
      min-width: 400px;
      position: relative;

      i {
        color: $secondary-text-color;
        font-size: 2rem;
        left: -50px;
        position: absolute;
      }

      input {
        border: none;
        font-size: 2.2rem;
        font-weight: 500;
      }
    }
  }



  .rows-container {
    overflow-y: auto;

    .row {
      align-items: flex-start;
      color: $primary-text-color;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      font-size: 1rem;
      justify-content: space-between;
      opacity: 0.7;
      position: relative;
      transition: all 0.3s ease;

      &::before, &::after {
        content: '';
        min-width: $horizontal-padding;
      }

      .border {
        background-color: $grey-color;
        bottom: 0;
        height: 0.5px;
        left: $horizontal-padding;
        position: absolute;
        right: $horizontal-padding;
      }

      .action {
        display: none;
      }

      .column {
        overflow: hidden;
        padding: 2.5rem 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .column-status {
        width:4%;
      }

      .link {
        align-items: center;
        background: none;
        border: none;
        bottom: 0;
        color: $primary-text-color;
        cursor: pointer;
        display: flex;
        justify-content: center;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        transition: all 0.3s ease;
        width: $horizontal-padding;
      }

      &:hover {
        opacity: 1;

        .link {
          display: flex;
          opacity: 1;
        }
      }

      &.selected {
        background-color: $secondary-white;
        min-height: 8rem;
        opacity: 1;

        .action {
          bottom: 0;
          display: flex;
          position: absolute;
          right: $horizontal-padding;
        }

        .link {
          display: flex;
          opacity: 0;
        }
      }
    }
  }

  .sweet-loading {
    text-align: center;
  }

  .data-table-create-btn-group {
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
    background-color: $secondary-white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 5rem;
    width: 100vw;

    .data-table-create-btn {
      margin-right: $horizontal-padding;
    }
  }
}
