// sass-lint:disable no-url-protocols,no-url-domains
@import '~normalize-scss/sass/normalize';
@include normalize;
@import '~toastedjs/src/sass/toast';
@import '~react-select/scss/default';
@import url('//fonts.googleapis.com/css?family=Poppins');
@import 'libs/iconic-font/scss/iconmonstr-iconic-font';
@import 'constants/scss/colors';
@import 'constants/scss/tables';

// To prevent "Couldn't set selectedTextBackgroundColor from default ()"
::selection { background: $primary-white; }

*,
input {
  font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-text-color;
  font-weight: 500;
}

html {
  background-color: $primary-white;
}

button {
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    opacity: .7;
  }
}

// sass-lint:disable class-name-format
.Select {
  width: 300px;

  .Select-control {
    border: 0;
    border-bottom: 1px solid $primary-text-color;
    border-radius: 0;
    margin-top: .6rem;

    // sass-lint:disable no-important
    * {
      color: $primary-text-color !important;
      font-size: 1.2rem;
    }

    .Select-value {
      padding-left: 0;
    }

    .Select-multi-value-wrapper {
      top: 1rem;
    }
  }
}
