@import '~normalize-scss/sass/normalize';
@include normalize();
@import '~toastedjs/src/sass/toast.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import 'constants/scss/colors';

// To prevent "Couldn't set selectedTextBackgroundColor from default ()"
::selection { background: white; /* WebKit/Blink Browsers */ }

* {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: $primary-text-color;
}

html {
  background-color: $primary-white;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}
