// sass-lint:disable no-url-protocols,no-url-domains
@import '~normalize-scss/sass/normalize';
@include normalize;
@import '~toastedjs/src/sass/toast';
@import '~react-select/scss/default';
@import url('//fonts.googleapis.com/css?family=Poppins');
@import 'libs/iconic-font/scss/iconmonstr-iconic-font';
@import 'constants/scss/colors';

// To prevent "Couldn't set selectedTextBackgroundColor from default ()"
::selection { background: $primary-white; }

*,
input {
  font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-text-color;
  font-weight: 500;
}

html {
  background-color: $primary-white;
}

button {
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    opacity: .7;
  }
}
