@import '../../constants/scss/colors';
@import '../../constants/scss/inputs';

.form-attribute {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  label {
    color: $secondary-text-color;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  > div {
    color: $primary-text-color;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
  }
}
