@import '../../constants/scss/colors';
@import '../../constants/scss/inputs';

.form-attribute {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  label {
    color: $secondary-text-color;
    font-size: 1rem;
    text-transform: uppercase;
  }

  > input {
    margin-top: 15px;
    min-width: 300px;
  }

  .Select {
    width: 300px;
  }
}
