@import '../../constants/scss/colors';

#checkout-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    align-items: center;
    border-bottom: 1px solid $grey-color;
    display: flex;
    flex-direction: row;
    min-width: 750px;
    position: relative;

    i {
      color: $secondary-text-color;
      font-size: 2rem;
      left: -50px;
      position: absolute;
    }

    input {
      border: none;
      font-size: 2.2rem;
      font-weight: 500;
      width: 70%;
    }

    h3 {
      color: $primary-text-color;
      font-size: 2.2rem;
      font-weight: 500;
      text-align: right;
      white-space: nowrap;
      width: 30%;
    }

    button {
      height: 0;
      width: 0;
      opacity: 0;
    }
  }

  .sale-variants {
    max-height: 50vh;
    min-width: 750px;
    overflow-y: auto;
    
    .sale-variant {
      border-bottom: 1px solid $grey-color;
      display: flex;
      flex-direction: row;
      padding: 2rem 0;

      h5 {
        color: $primary-text-color;
        font-size: 1.5rem;
        margin: 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .variant-infos {
        display: flex;
        flex-direction: column;
        width: 100%;

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            color: $secondary-text-color;
            font-size: 0.875rem;
            margin: 5px 0;

            b {
              color: $primary-text-color;
            }
          }
        }
      }

      .variant-quantity {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        input {
          margin: 0;
          max-width: 100px;
          text-align: center;
        }

        button {
          align-items: center;
          background: none;
          border: 2px solid $secondary-text-color;
          border-radius: 50%;
          color: $secondary-text-color;
          cursor: pointer;
          display: flex;
          height: 2rem;
          justify-content: center;
          margin: 10px 20px;
          outline: 0;
          padding: 0;
          width: 2rem;

          .im {
            font-size: 1rem;
            padding-top: 4px;
          }
        }
      }

      .variant-price {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;

        button {
          font-size: 0.875rem;
        }
      }
    }
  }

  .buttons-container {
    align-items: center;
    border-top: 1px solid $grey-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 750px;
  }
}

#checkout-modal {
  min-width: 30vw;
  .price-title {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;

    h1, h2 {
      margin: 0;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      margin: 1rem 0;
      justify-content: space-between;

      label {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;

        input[type=checkbox] {
          margin-right: 1rem;
        }
      }

      input[type=number] {
        max-width: 100px;
        text-align: right;
      }
    }
  }

  .payment-footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
