@import '../../constants/scss/colors';

.checkout-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    align-items: center;
    border-bottom: 1px solid $grey-color;
    display: flex;
    flex-direction: row;
    min-width: 750px;
    position: relative;

    i {
      color: $secondary-text-color;
      font-size: 2rem;
      left: -50px;
      position: absolute;
    }

    input {
      border: 0!important;
      font-size: 2.2rem;
      font-weight: 500;
      height: 4rem;
      width: 70%;
    }

    h3 {
      color: $primary-text-color;
      font-size: 2.2rem;
      font-weight: 500;
      text-align: right;
      white-space: nowrap;
      width: 30%;
    }

    button {
      height: 0;
      opacity: 0;
      width: 0;
    }
  }

  .sale-variants {
    max-height: 50vh;
    min-width: 750px;
    overflow-y: auto;

    .sale-variant {
      border-bottom: 1px solid $grey-color;
      display: flex;
      flex-direction: row;
      padding: 2rem 0;
      position: relative;

      h5 {
        color: $primary-text-color;
        font-size: 1.5rem;
        margin: 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .variant-infos {
        display: flex;
        flex-direction: column;
        width: 100%;

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            color: $secondary-text-color;
            font-size: .875rem;
            margin: 5px 0;

            b {
              color: $primary-text-color;
            }
          }
        }
      }

      .variant-quantity {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        input {
          margin: 0;
          max-width: 100px;
          text-align: center;
        }

        button {
          align-items: center;
          background: none;
          border: 2px solid $secondary-text-color;
          border-radius: 50%;
          color: $secondary-text-color;
          cursor: pointer;
          display: flex;
          height: 2rem;
          justify-content: center;
          margin: 10px 20px;
          outline: 0;
          padding: 0;
          width: 2rem;

          .im {
            font-size: 1rem;
            padding-top: 4px;
          }
        }
      }

      .variant-price {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;

        .variant-options {
          align-items: flex-end;
          bottom: 1rem;
          display: flex;
          flex-direction: column;
          position: absolute;
          right: 0;

          .variant-discount {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: 20px 0;
            max-width: 100%;

            // sass-lint:disable class-name-format
            .Select {
              min-width: 170px;
            }

            input {
              margin: 0 10px;
              max-width: 75px;
              min-width: 50px;
              text-align: right;
              width: 100%;
            }
          }

          button {
            font-size: .875rem;
            padding: 0;
          }
        }
      }
    }
  }

  .buttons-container {
    align-items: center;
    border-top: 1px solid $grey-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 750px;
  }
}

.checkout-modal {
  min-width: 30vw;

  .price-promotion {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Select {
      min-width: 170px;
    }

    input {
      margin: 0 10px;
      max-width: 75px;
      min-width: 50px;
      text-align: right;
      width: 100%;
    }
  }

  .price-title {
    align-items: flex-end;
    border-top: 1px solid $secondary-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem 0;

    h1,
    h2 {
      margin: 0;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;

      label {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;

        input {
          &[type='checkbox'] {
            margin-right: 1rem;
          }
        }
      }

      input {
        &[type='number'] {
          max-width: 100px;
          text-align: right;
        }
      }
    }
  }

  .payment-footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.sales-history-link {
  bottom: 0;
  position: fixed;
  left: 0;

  a {
    align-items: center;
    color: $secondary-text-color;
    display: flex;
    font-size: 1.6rem;
    padding: 2rem;
    text-decoration: none;

    .im {
      font-size: 1.6rem;
    }

    span {
      opacity: 0;
      transition: opacity .3s ease;
    }
  
    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}
